{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Users list</h1>
    <div>
    <a class="btn btn-primary" href="{{ path('app_admin_user_new') }}" role="button">Add user</a>
    </div>
    <ul>
        {% for user in users %}
            <li>{{ user.lastName }} {{ user.firstName }} - {{ user.userIdentifier }} - <a href="{{ path('app_admin_user_edit', {'id':user.id}) }}">edit</a></li>
        {% endfor %}

    </ul>
    <hr>
    <div id="presidents">Loading...</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#presidents').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}
