{% extends '__includes/layouts/_security.html.twig' %}

{% import "__includes/macros/_flashblock.html.twig" as flashblock %}

{% block page_title %}{{ 'login.title'|trans }}{% endblock %}

{% block security_title %}{{ 'login.subtitle'|trans }}{% endblock %}

{% block security_error %}
    {% if error %}
        {{ flashblock.input('danger', error.messageKey|trans(error.messageData, 'security')) }}
    {% endif %}
{% endblock %}

{% block security_content_before %}
    <p class="lead">
        {{ 'login.text'|trans }}
    </p>
{% endblock %}

{% block security_content %}
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="inputEmail">{{ 'login.form.email.label'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" placeholder="{{ 'login.form.email.placeholder'|trans }}" required autofocus>
        </div>
        <div class="mb-3">
            <label class="form-label" for="inputPassword">{{ 'login.form.password.label'|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" placeholder="{{ 'login.form.password.placeholder'|trans }}" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-lg btn-primary" type="submit">{{ 'login.form.submit'|trans }}</button>
        </div>
    </form>
{% endblock %}

{% block security_content_after %}
    <div class="text-center mb-3">
        {{ 'login.password_forgotten.text'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'login.password_forgotten.click'|trans }}</a>
    </div>
{% endblock %}
