{% extends '__includes/layouts/_security.html.twig' %}

{% block page_title %}{{ 'reset_password.check_email.title'|trans }}{% endblock %}

{% block security_title %}{{ 'reset_password.check_email.title'|trans }}{% endblock %}

{% block security_content %}
    <p>
        {{ 'reset_password.check_email.text1'|trans }}
        <br>
        {{ 'reset_password.check_email.text2'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
{% endblock %}

{% block security_content_after %}
    <div class="text-center mb-3">
        <a href="{{ path('app_login') }}">{{ 'reset_password.back'|trans }}</a>
    </div>
{% endblock %}
