{% extends '__includes/layouts/_security.html.twig' %}

{% import "__includes/macros/_flashblock.html.twig" as flashblock %}

{% block page_title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block security_title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block security_error %}
    {% for flash_error in app.flashes('reset_password_error') %}
        {{ flashblock.input('danger', flash_error) }}
    {% endfor %}
{% endblock %}

{% block security_content %}
    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <small>
        {{ 'reset_password.text'|trans }}
    </small>
    <div class="d-grid gap-2 mt-3">
        <button class="btn btn-lg btn-primary" type="submit">{{ 'reset_password.submit'|trans }}</button>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}

{% block security_content_after %}
    <div class="text-center mb-3">
        <a href="{{ path('app_login') }}">{{ 'reset_password.back'|trans }}</a>
    </div>
{% endblock %}
