{% extends 'base.html.twig' %}

{% block page_title %}{{ 'settings.title'|trans }} / {% block page_subtitle %}{% endblock %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-3 col-xl-2">
            <div class="card">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action {{ app.current_route == 'app_setting' ? 'active' }}" href="{{ path('app_setting') }}">
                        {{ 'settings.nav.profile'|trans }}
                    </a>
                    <a class="list-group-item list-group-item-action {{ app.current_route == 'app_setting_email' ? 'active' }}" href="{{ path('app_setting_email') }}">
                        {{ 'settings.nav.email'|trans }}
                    </a>
                    <a class="list-group-item list-group-item-action {{ app.current_route == 'app_setting_security' ? 'active' }}" href="{{ path('app_setting_security') }}">
                        {{ 'settings.nav.security'|trans }}
                    </a>
                    <a class="list-group-item list-group-item-action {{ app.current_route == 'app_setting_preferences' ? 'active' }}" href="{{ path('app_setting_preferences') }}">
                        {{ 'settings.nav.preferences'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-xl-10">
            <div class="tab-content">
                {% block page_setting_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}