{% extends 'setting/base.html.twig' %}

{% block page_subtitle %}{{ 'settings.email.title'|trans }}{% endblock %}

{% block page_setting_content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">{{ 'settings.email.title'|trans }}</h5>
        </div>
        <div class="card-body">
            <p>
                {{ 'settings.email.verification.current_email'|trans }} <strong>{{ app.user.email }}</strong>
                <br>
                {{ 'settings.email.verification.verified.text'|trans }}
                {% if app.user.verified %}
                    <strong class="text-success">{{ 'settings.email.verification.verified.yes'|trans }}</strong>
                {% else %}
                    <strong class="text-danger">{{ 'settings.email.verification.verified.no'|trans }}</strong>
                {% endif %}
            </p>
            {% if app.user.verificationEmailSentAt and not app.user.verified %}
                {% if app.user.verificationEmailSentAt < date('-10minutes','Europe/Paris') %}
                    <p>
                        <a href="{{ path('app_setting_email_send_verification') }}">{{ 'settings.email.verification.send_email'|trans }}</a>
                    </p>
                {% else %}
                    <small>{{ 'settings.email.verification.already_sent'|trans }}</small>
                {% endif %}
            {% endif %}
            <hr>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <small>{{ 'settings.email.verification.email_will_be_sent'|trans }}</small>
            {{ include('setting/_form_buttons.html.twig') }}
            {{ form_end(form) }}
            {# todo: email notification settings #}
        </div>
    </div>
{% endblock %}