{% extends '__includes/layouts/_email.html.twig' %}

{% trans_default_domain 'emails' %}

{% block email_title %}{{ 'confirmation_email.title'|trans }}{% endblock %}

{% block email_content %}
    <p class="first">
        <strong>{{ 'hello'|trans }}</strong> <br>
        {{ 'confirmation_email.text'|trans }}
    </p>
    <br>
    <center>
        <button href="{{ signedUrl|raw }}">{{ 'confirmation_email.btn'|trans }}</button>
        <br>
        <small>
            {{ 'btn_do_not_show'|trans }}
            <a href="{{ signedUrl|raw }}">{{ signedUrl|raw }}</a>
            <br>
            {{ 'expiration'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </small>
    </center>
    <hr>
{% endblock %}
