<!DOCTYPE html>
<html lang="fr" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ 'app.description'|trans }}">
    <meta name="author" content="{{ 'app.author'|trans }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{{ asset('images/icon-48x48.png') }}" />

    <title>{{ 'app.title'|trans }} - {{ block('page_title') }}</title>

    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</head>

<body>
    {% block body %}
    <div class="wrapper">
        {{ include('__includes/_sidebar.html.twig') }}
        <div class="main">
            {# {{ include('__includes/_navebar.html.twig') }}#}
            <main class="content">
                {% block content %}
                    <div class="container p-0"> {# container-fluid instead of container to make it fuild (100%) #}
                        {{ include('__includes/_impersonation.html.twig') }}
                        {{ include('__includes/_flashes.html.twig') }}
                        <h1 class="h3 mb-3">{% block page_title %}Blank Page{% endblock %}</h1>
                        {% block page_content %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">{% block page_simple_title %}Empty card{% endblock %}</h5>
                                        </div>
                                        <div class="card-body">
                                            {% block page_simple_content %}{% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </main>

            {{ include('__includes/_footer.html.twig') }}
        </div>
    </div>
    {% endblock %}
</body>
</html>